body {
  font-family: Arial, sans-serif;
  background: linear-gradient(120deg, #2980b9, #8e44ad);
  min-height: 100vh;
  margin: 0;
  padding: 20px;
  box-sizing: border-box;
}

.salas-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
  }
  
  .sala-card {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 20px;
    width: 200px;
    text-align: left;
  }
  
  .sala-card h3 {
    margin-top: 0;
    font-size: 18px;
  }
  
  .sala-card p {
    margin: 5px 0;
  }
  
  .sala-card strong {
    color: #333;
  }

  .sala-card button.edit {
    background-color: #28a745; /* Green */
  }
  
  .sala-card button.edit:hover {
    background-color: #218838; /* Darker Green */
  }
  
  .sala-card button.delete {
    background-color: #dc3545; /* Red */
  }
  
  .sala-card button.delete:hover {
    background-color: #c82333; /* Darker Red */
  }

  .home-button {
    margin-top: 16px;
  }
  
  .home-button button {
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
  }